<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- For ALX, use value="2"; for another source like cairo, use value="1" -->
		<add key="BranchId" value="3" />
	</appSettings>
	<connectionStrings>
		<add name="NorthwindCN"
			 connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>