<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
    <AppContextSwitchOverrides value="Switch.Microsoft.Data.SqlClient.DisableTelemetry=true;Switch.Microsoft.Data.SqlClient.DisableSqlPerformanceCounters=true" />
  </runtime>
		<connectionStrings>
			<!-- Username and password can be added at runtime or encrypted separately -->
			<add name="NorthWindCN"
				 connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;"
			providerName="Microsoft.Data.SqlClientt"  />
		</connectionStrings>
</configuration>